@font-face {
  font-family: 'Perfectly Nineties Bold';
  src: url('fonts/perfectlynineties-bold.woff') format('woff'),;
  font-style: normal;
}

@font-face {
  font-family: 'Perfectly Nineties Bold';
  src: url('fonts/perfectlynineties-bolditalic.woff') format('woff'),;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXp-p7K4KLg.woff2) format('woff2');
}
